<!DOCTYPE html>
<html>
	<head>
		<title>Blog</title>
		<meta charset = "UTF-8">
		<meta name = "viewport" content = "width-device-width, initial-scale=1.0">
		<link rel = "stylesheet" href = "stylesheets/styles.css">
		<link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	</head>
	<body class = "bg-transparent">
		<div class = "container-fluid">
			<nav class = "nav-bar">
				<div class = "col-left">
					<i class="fas fa-coffee"></i>
					<h3>
						Ryan Szalaty
					</h3>
				</div>
				<div class = "col-right">
					<ul>
						<li>Home</li>
						<li>About</li>
						<li>Resume</li>
						<li>Contact</li>
					</ul>
				</div>
			</nav>
			<div class = "bottom-nav">
				<ul>
					<li>Home</li>
					<li>About</li>
					<li>Resume</li>
					<li>Contact</li>
				</ul>
			</div>
		</div>
	</body>
</html>